/*
 * CSS for the ACF City Selector plugin
 * @TODO: add index
 */

/* admin menu */
.acfcs .acfcs-admin-menu a {
    text-decoration: none;
}

.acfcs .acfcs-admin-menu a.current_page {
    font-weight: bold;
}

.acfcs .acfcs-admin-menu a.cta {
    color:       #dc3232;
    font-weight: bold;
}

/* admin pages */
.acfcs .admin_left,
.acfcs .admin_right {
    background:            white;
    box-sizing:            border-box;
    padding:               10px;
    border:                1px solid #cccccc;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
}

.acfcs .admin_left {
    margin-bottom: 1rem;
}

.acfcs h2,
.acfcs h3 {
    margin:        0;
    margin-bottom: 1rem;
}

.acfcs__section {
    border-top:  1px solid #cccccc;
    margin-top:  1.5em;
    padding-top: 1.5em;
}

.acfcs__section:first-child {
    border-top:     0;
    margin-top:     0;
    padding-top:    0;
    padding-bottom: 0;
}

.acfcs__section--subscription {
    padding-bottom: 0;
}

.acfcs__section--results {
    margin-top: 2em;
}

.acfcs__search-criteria {
    display: inline-block;
}

.acfcs__search-criteria--orderby {
    margin-right: 1.25em;
}

.acfcs__search-criteria--or,
.acfcs__search-criteria--plus {
    margin: 0 0.5em;
}

/* tables */
.acfcs table.acfcs__table {
    border:          0;
    border-spacing:  0;
    border-collapse: collapse;
    width:           100%;
    max-width:       100%;
}

.acfcs table.acfcs__table--search {
    max-width: 60%;
}

.acfcs table.acfcs__table--packages {
    margin-top:    1rem;
    margin-bottom: 1rem;
}

.acfcs table.acfcs__table--packages img.flag {
    border:       1px solid #222;
    margin-right: 0.5rem;
}

.acfcs table.acfcs__table--info {
    margin-bottom: 2em;
    max-width:     450px;
}

.acfcs table.acfcs__table--search {
    margin-top:    1em;
    margin-bottom: 1em;
}

.acfcs table.acfcs__table th,
.acfcs table.acfcs__table td {
    padding:    5px 0.5em 5px 0;
    text-align: left;
}

.acfcs table.acfcs__table td {
    border-top: 1px solid #444444;
}

.acfcs table.acfcs__table--search tr td:nth-child(1),
.acfcs table.acfcs__table--search tr td:nth-child(2) {
    width: 60px;
}

/* forms */
.acfcs .upload-element {
    margin-bottom: 1rem;
}

.acfcs .upload-element:last-child {
    margin-bottom: 0;
}

.acfcs .form--upload {
    margin-top: 5px;
    position:   relative;
}

.acfcs .form--upload .val {
    background:     white;
    border:         1px solid #ccc;
    width:          185px;
    height:         35px;
    position:       absolute;
    top:            0;
    left:           0;
    font-size:      15px;
    line-height:    35px;
    text-indent:    10px;
    pointer-events: none;
    overflow:       hidden;
}

.acfcs .form--upload .upload_button {
    border-radius: 0;
    display:       block;
    height:        37px;
    left:          185px;
    position:      absolute;
    top:           0;
    font-size:     15px;
    line-height:   35px;
    text-align:    center;
}

.acfcs .acfcs__process-file-element {
    margin-bottom: 0.5rem;
}

.acfcs label {
    font-weight: bold;
}

.acfcs .acfcs__process-file-element label {
    display: inline-block;
    width:   80px;
}

/* form inputs */
.acfcs .form--upload input[type='file'] {
    width:   185px;
    height:  35px;
    opacity: 0;
}

.acfcs__search-criteria--search input {
    border:        1px solid #7e8993;
    border-radius: 3px;
    box-sizing:    border-box;
    color:         #32373c;
    min-height:    30px;
    padding:       0 0 0 5px;
}

.acfcs input[name="acfcs_search"] {
    margin-top: 1px;
}

.acfcs select[name="acfcs_orderby"] {
    margin-top: -3px;
}

.acfcs input[name="acfcs_limit"],
.acfcs input[name="acfcs_max_lines"] {
    width: 80px;
}

.acfcs input[type="checkbox"] {
    margin-right: 10px;
}

.acfcs textarea#raw-import {
    width:         100%;
    max-width:     100%;
    margin-bottom: 1rem;
}

/* errors */
.acfcs .acfcs__notice {
    padding:     10px 0 10px 15px;
    border-left: 4px solid #ffffff;
}

.acfcs .notice--error {
    border-left-color: #dc3232;
}

.acfcs .notice--success {
    border-left-color: #43bc71;
}

.acfcs .notice--warning {
    border-left-color: #ff9000;
}

.acfcs .notice--info {
    border-left-color: #00a0d2;
}

.acfcs .field-error {
    background-color:  #f9f9f9;
    border-left-color: #dc3232;
    border-top:        1px solid #ccd0d4;
    border-right:      1px solid #ccd0d4;
    border-bottom:     1px solid #ccd0d4;
    margin-bottom:     1rem;
}

/* misc */
.acfcs hr {
    background:    #CCCCCC;
    width:         100%;
    height:        1px;
    border:        0;
    margin-bottom: 1em;
}

.acfcs img.acfcs__donate {
    float:         left;
    margin-top:    3px;
    margin-right:  10px;
    margin-bottom: 10px;
}

/* edit post screens v4 */
/* not actively supported anymore */
.field_type-acf_city_selector .dropdown-box {
    margin-bottom: 1em;
}

.field_type-acf_city_selector span.acf-input-header {
    display:       block;
    margin-bottom: 10px;
}

/* edit post screens v5 */
.acf-field-acf-city-selector .dropdown-box {
    margin-bottom: 1em;
}

.acf-field.acf-field-acf-city-selector select {
    padding: 4px;
}

.acf-field-acf-city-selector .acf-input-header {
    margin-bottom: 10px;
}

/* help menus */
.contextual-help-tabs {
    width: 170px;
}

#contextual-help-back {
    left: 170px;
}

#contextual-help-columns .contextual-help-tabs-wrap h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after:  0;
    margin-bottom:         0.5em;
}

#contextual-help-columns .contextual-help-tabs-wrap h5:first-child {
    -webkit-margin-before: 0.75em;
}

#contextual-help-columns .contextual-help-tabs-wrap p {
    -webkit-margin-before: 0;
    margin:                0.5em 0 0.5em 0;
}

#contextual-help-columns .contextual-help-sidebar p {
    -webkit-margin-before: 0;
    margin:                1em 0 0.5em 0;
}

#contextual-help-columns .contextual-help-tabs-wrap table {
    border-spacing: 0;
}

#contextual-help-columns .contextual-help-tabs-wrap th,
#contextual-help-columns .contextual-help-tabs-wrap td {
    padding: 5px 0.5em 5px 0;
}

#contextual-help-columns .contextual-help-tabs-wrap th {
    text-align: left;
}

#contextual-help-columns .contextual-help-tabs-wrap td {
    border-top: 1px solid #444444;
}

/* media queries */
@media screen and ( min-width: 400px ) {

    .hide400 {
        display: none;
    }
}

@media screen and ( min-width: 480px ) {

    .acfcs .admin_left,
    .acfcs .admin_right {
        padding: 20px;
    }

    .acfcs .form--upload input[type='file'] {
        width:  350px;
        height: 35px;
    }

    .acfcs .form--upload .val {
        width: 350px;
    }

    .acfcs .form--upload .upload_button {
        left: 350px;
    }

}

@media screen and (max-width: 400px) {
    .acfcs table.acfcs__table--packages.scrollable {
        display:     block;
        overflow:    hidden;
        white-space: nowrap;
        overflow-x:  scroll;
    }
}

@media screen and ( min-width: 640px ) {

    .hide640 {
        display: none;
    }

    .acfcs .acfcs__process-file {
        display:   flex;
        flex-flow: row nowrap;
    }

    .acfcs .acfcs__process-file-element {
        margin-right: 2rem;
    }

    .acfcs .acfcs__process-file-element label {
        display: block;
    }

    .acfcs .acfcs__process-file-element--file {
        min-width: 130px;
    }
}

@media screen and ( min-width: 1024px ) {
    .acfcs .admin_left {
        float:    left;
        position: relative;
        width:    75%;
    }

    .acfcs .admin_right {
        float:     right;
        max-width: 22.5%;
    }
}

@media screen and ( min-width: 1440px ) {
    .acfcs .admin_left {
        width: 77.5%;
    }

    .acfcs .admin_right {
        max-width: 20%;
    }

    .acfcs table.acfcs__table--packages {
        max-width: 75%;
    }
}
