/**
 *  CSS for the ACF City Selector plugin
 *  Version: 1.0
 */

.acf-field-sd-city-selector div {
    margin-bottom: 10px;
}

.acf-field-sd-city-selector span.acf-input-header {
    display:       block;
    margin-bottom: 5px;
}

/*
 * admin style
 */

.admin_left, .admin_right {
    padding:               10px;
    border:                1px solid #cccccc;
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
}

.admin_left {
    float:        left;
    width:        60%;
    margin-right: 5%;
}

.admin_left input[type="checkbox"] {
    margin-right: 10px;
}
.admin_left h2 {
    margin: 0.5em 0 1em 0;
}

.admin_right {
    float:     left;
    max-width: 25%;
}

.admin_right h3 {
    margin: 0.5em 0 1em 0;
}

hr {
    background:    #CCCCCC;
    width:         100%;
    height:        1px;
    border:        0;
    margin-bottom: 10px;
}

img.donateimg {
    float:        left;
    margin-top:   3px;
    margin-right: 10px;
}

#contextual-help-columns h5 {
    margin-top: 10px;
}

.acfcs-admin-menu a {
    text-decoration: none;
}
