/* edit post screens v4 */
/* not actively supported anymore */
.field_type-acf_city_selector .acfcs__dropdown-box {
	margin-bottom: 1rem;
}

.field_type-acf_city_selector span.acf-input-header {
	display:       block;
	margin-bottom: 10px;
}

/* edit post screens v5 */
.acf-field-acf-city-selector .acfcs__dropdown-box {
	margin-bottom: 1rem;
}

.acf-field-acf-city-selector .acfcs__checkbox {
	display:   flex;
	flex-flow: row nowrap;
	align-items: center;
}

.acfcs__checkbox input[type="checkbox"] {
	margin-right: 0.5rem;
}

.acfcs__checkbox label {
	vertical-align: initial;
}

.acf-field.acf-field-acf-city-selector select.acfcs__dropdown {
	padding: 4px;
}

.acf-field-acf-city-selector .acf-input-header {
	margin-bottom: 10px;
}
